.carousel {
  height: 100%;
  width: 100vw;
  padding: 0;
  margin: 0;
  text-align: center;
  justify-content: center;
  padding: 100px;
  margin: auto;

}

h2{
  padding: 0;
  margin: 0;
  text-align: left;
  padding-left: 19px;
}

#first-image{
  background-image: url("../../assets/images/Garfield Field.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  padding-top: 0;
  background-size: cover;

}

#second-image{
  background-image: url("../../assets/images/Livingston Field.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  padding-top: 0;
  background-size: cover;

}

#third-image{
  background-image: url("../../assets/images/McKinley Field.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  padding-top: 0;
  background-size: cover;

}

#fourth-image{
  background-image: url("../../assets/images/Ping Tom Field.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  padding-top: 0;
  background-size: cover;

}

#fifth-image{
  background-image: url("../../assets/images/Sheridan Field.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  padding-top: 0;
  background-size: cover;

}

@font-face {
  font-family: sportChalk;
  src: url("../../assets/candy-inc.trial.ttf");
}
.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 0 0 25%;
}

#welcome{
  font-family: sportChalk;
  font-size: 90px;
}

