<!--<div class="carousel">-->
<!--  <a class="carousel-item" href="/teams"><img src="../../assets/images/Garfield%20Field.jpg"></a>-->
<!--  <a class="carousel-item" href="/teams"><img src="../../assets/images/Livingston%20Field.jpg"></a>-->
<!--  <a class="carousel-item" href="/teams"><img src="../../assets/images/McKinley%20Field.jpg"></a>-->
<!--  <a class="carousel-item" href="/teams"><img src="../../assets/images/Ping%20Tom%20Field.jpg"></a>-->
<!--  <a class="carousel-item" href="/teams"><img src="../../assets/images/Sheridan%20Field.jpg"></a>-->
<!--</div>-->

<div class="carousel carousel-slider center">

  <div class="carousel-item white" >
    <h2 class="green-text">Garfield Field</h2>
    <div id="first-image" >
    </div>
  </div>

  <div class="carousel-item white" >
    <h2 class="green-text">Livingston Field</h2>
    <div id="second-image" >
    </div>
  </div>

  <div class="carousel-item white" >
    <h2 class="green-text">McKinley Field</h2>
    <div id="third-image">
    </div>
  </div>

  <div class="carousel-item white" >
    <h2 class="green-text">Ping Tom Field</h2>
    <div id="fourth-image">
    </div>
  </div>

  <div class="carousel-item white" >
    <h2 class="green-text">Sheridan Field</h2>
    <div id="fifth-image">
    </div>
  </div>

</div>

<div class="about-page">
  <h2 id="welcome">Welcome Coaches</h2>
  <p>Tired of writing your players in a book every game? This app should help!
  Simply add your team info and all your players and staff one time! You can view each member
  on your team and see their information! Now you can on more important things like winning!!</p>
</div>
