
.main-container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.left-container {
  background-color: yellow;
  width:50vw;
  height:90vh;
}

.right-container {
  background-color: blueviolet;
  width: 50vw;
  height:90vh;
}

.memberList{
  font-size: 18px;
}

.btn-floating{

}
