
.main-container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.left-container {
  background-color: yellow;
<<<<<<< HEAD
  width:50vw;
  height:90vh;
}

.right-container {
  background-color: blueviolet;
  width: 50vw;
  height:90vh;
}

.memberList{
  font-size: 18px;
}

.btn-floating{
=======
  width:100%;
  height:500px;
  display: flex;

}

.div2 {
  background-color: tan;
  width:100%;
  height:500px;
  padding: 10px;

}

.members-list {
  background-color: orange;
  width:50%;
  height:500px;
  padding:10px;


}

.buttons-list{
  background-color: plum;
  width:50%;
  height:500px;
  display:flex;
  flex-direction: column;

}

.left-container {

  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
>>>>>>> be809851e62fa168c0c76b58b92303737e303e7f

}
