
.main-container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.div1{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  /*position: relative;*/
  overflow-x: hidden;
}

.right-container {
  /*background-color: tan;*/
  width:100%;
  height:500px;
  /*padding: 10px;*/

}

.members-list {
  background-color: darkgrey;
  width:50%;
  height:500px;
  /*padding:10px;*/
}

.buttons-list{
  background-color: #C98115;
  width:50%;
  height:500px;
  /*display:flex;*/
  /*flex-direction: column;*/
}
