.login-container{
  position: relative;
  left: 25%;
  right: 25%;
  top: 35px;
  width: 35vw;
  height: 60vh;
  border: 1px solid black;
  background: #157125 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  text-align: center;
}

h2{
  color: white;
}

input{
  text-align: center;
  width: 15vw;
}

.outer-email-container{
  position: relative;
  left: 15%;
  width: 25vw;
  border: 1px solid black;
  border-radius: 25px;
  background: #C98115;

}

.email-container{
  position: relative;
  left: 5%;
  width: 20vw;
  text-align: center;
}

.outer-password-container{
  position: relative;
  top: 20px;
  left: 15%;
  width: 25vw;
  border: 1px solid black;
  border-radius: 25px;
  background: #C98115;
}

.password-container{
  position: relative;
  left: 5%;
  width: 20vw;
}

#submit-btn{
  position: relative;
  left: 1%;
  top: 10vh;
  height: 5vh;
  border-radius: 25px;
  font-size: 20px;
  background-color: white;
}



