<div class="login-container">
<!--  <form>-->
    <h2>Login Coach</h2>
    <div class="outer-email-container">
      <div class="email-container center-align">
        <input [(ngModel)]="email" type="text" name="email" placeholder="Email"/>
      </div>
    </div>

    <div class="outer-password-container">
      <div class="password-container">
        <input [(ngModel)]="password" type="text" name="password" placeholder="Password"/>
      </div>
    </div>


  <input id="submit-btn" (click)="loginUser()" type="submit" value="Log In"/>


<!--  </form>-->
</div>

