<div id="outline" class="row z-depth-3">

  <h2>LOGIN COACH</h2>

  <form class="col s12">

    <div class="row">

      <div class="input-field col s12">
        <input  [(ngModel)]="email" id="email_field" type="email" class="validate center-align" placeholder="EMAIL ADDRESS">
        <span class="helper-text" data-error="Please insert a valid email address"></span>
      </div>

    </div>

    <div class="row">

      <div class="input-field col s12">
        <input [(ngModel)]="password" id="password_field" type="password" class="validate center-align" placeholder="PASSWORD">
      </div>

    </div>

    <input class="waves-effect waves-light btn grey " id="submit-btn" (click)="loginUser()" type="submit" value="SUMBIT"/>

  </form>

</div>
