#outline {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #157125;
  margin-top: 15px;
  width: 35vw;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  /*width: 20vw;*/
  background-color: #C98115;
  border-radius: 5px;
}
