
<div [formGroup]="form" id="outline" class="row z-depth-3">
  <h2>SIGN-UP COACH</h2>
  <mat-form-field  appearance="outline">
    <mat-label>FirstName</mat-label>
    <input matInput formControlName="firstName">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName" >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>User Name</mat-label>
    <input matInput formControlName="userName" >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email Address</mat-label>
    <input matInput formControlName="emailAddress" >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" >
  </mat-form-field>
</div>

