<form>
  <h2>Register a Coach</h2>
  <input [(ngModel)]="userName" type="text" name="userName" placeholder="User Name"/>
  <input [(ngModel)]="firstName" type="text" name="firstName" placeholder="First Name"/>
  <input [(ngModel)]="lastName" type="text" name="lastName" placeholder="Last Name"/>
  <input [(ngModel)]="emailAddress" type="text" name="emailAddress" placeholder="Email Address"/>
  <input [(ngModel)]="password" type="text" name="password" placeholder="Password"/>
  <h3>Create A Team</h3>
  <input [(ngModel)]="teamName" type="text" name="teamName" placeholder="Team Name"/>
  <input [(ngModel)]="cityName" type="text" name="cityName" placeholder="City"/>
  <input [(ngModel)]="parkName" type="text" name="parkName" placeholder="Park Name"/>
  <input (click)="registerUserAndTeam()"  type="submit" value="Register"/>
</form>
